<div class="exercises-container">
  <div>
    <%= form_for @training, method: :put do |f| %>
  </div>
  <%= render 'exercises_list', exercises: @initial_exercises %>
  <%= render 'added_list', exercises: @added_exercises %>
    <div class="form-group">
      <%= f.label :Комментарий_к_выполнению_упражнений %>
      <%= f.text_area :trainer_comment, class: 'large-field' %>
      <%= f.submit 'Сохранить описание', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
