<header>
	<nav class="header-style-class">
					<a href="/">Главная</a>
					<%= link_to "О фитнес клубе", info_path %>
					<%= link_to "Цены", price_path %>
					<%= link_to "О тренерах", trainers_path %>


					<% if user_signed_in? %>
					<%= link_to image_tag("search.svg", border: 0, width: 25, height: 25), users_path, :method => :get%>
					
          	<div>
							<%= current_user.email %>, не Вы?
							<%= link_to "Выход", destroy_user_session_path,  :method => :delete %>
						</div>
						<% if current_user.admin? %>
							<%= link_to "Администрирование", admin_root_path %>
						<% end %>
					<% else %>
						<%= link_to "Вход", new_user_session_path %>
						<%= link_to "Регистрация", new_user_registration_path %>
					<% end %>
  </nav>
</header>
